# Ignore node_modules directory
day1/node_modules/
day1/package.json
day2/package.json
day1/package-lock.json
day2/package-lock.json
day3/package.json
day3/part1.js 
day4/package.json
day4/input.txt
day4/example.txt